body {
    margin: 0;
    padding: 0;
    background-color: #e2f0f8;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.about-content {
    text-align: center;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* Previous styles... */

.contact {
   
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact label {
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact input[type="submit"] {
    background-color: rgb(94, 181, 239);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact input[type="submit"]:hover {
    background-color:  rgb(172, 222, 255)
}
